<div class="container-fluid">
    <div class="row" id="container">
        <div class="row" id="title">
            <h3>Proyectos</h3>
            <button type="button" class="btn btn-outline-success" routerLink="/nuevoproye" *ngIf="isLogged">
                Agregar
            </button>
        </div>
        <div class="row">
            <ul> 
                <li *ngFor="let Proyectos of proye">
                    <h5 style="margin-top: 10px;">{{Proyectos.nombrePr}}</h5>
                    <b>Fecha de realización: </b>{{Proyectos.fechaPr}}<br>
                    <b>Descripción: </b>{{Proyectos.descripcionPr}}                   
                    <button class="btn btn-outline-success" routerLink="/editproye/{{Proyectos.id}}/" *ngIf="isLogged">
                        <i class="bi bi-pen"></i>
                    </button>
                    <button class="btn btn-outline-danger" (click)="delete(Proyectos.id)" *ngIf="isLogged">
                        <i class="bi bi-trash3"></i>
                    </button> 
                </li>              
            </ul>
        </div>

    </div>