<div class="container-fluid">
    <div class="row" id="container">
        <div class="row" id="title">
            <h3>Proyectos</h3>
        </div>
        <div class="row">
            <ul> 
                <li><h5>Portfolio Web</h5></li>
                <b>Fecha de realización:</b> 5/2022<br>
                <b>Descripción:</b> El proyecto se basó en realizar mi propio portfolio web.
                Tanto el diseño del front-end como la lógica del back-end.<br> 
                Para el front, utilicé HTML, CSS, Angular, algo de TypeScript y la librería NgxChart.<br>
                Para el back, un poco de Java y SpringBoot.<br>
                Sé que tiene muchas cosas a mejorar, sobre todo para que el proyecto sea responsive 
                (quizás porque me quedaba sin tiempo para la entrega).<br> 
                En el gráfico tambien tengo muchos detalles, no estoy para nada conforme como quedó,
                no pude agrandar el tamaño de cada dona para que se lea la habilidad completa, ni 
                hacer que me respete el contenedor cuando se reduce el tamaño de la pantalla.  Otra 
                cosa que me hubiera gustado y no pude lograr, es que la animación del gráfico 
                comience cuando lo veas y no apenas carga la página.<br> 
                Bueno y así hay un montón de detalles que me gustaría pulir. Se podría decir
                que este es el primer prototipo de mi portfolio.<br>
                Adjunto los respectivos links de GitHub.               
            </ul>
        </div>

    </div>