<div class="container-fluid">
    <div class="row" id="container">
        <div class="row" id="title">
            <h3>Experiencia</h3>
        </div>
        <div class="row" id="job">
            <ul> 
                <li>Como se habrán dado cuenta, si ya inspeccionaron el código, no cuento con
                ningún tipo de experiencia.  
                El curso de Argentina Programa fue mi primer contacto con la 
                programación web, allá por octubre del 2021. 
                Por lo que este portfolio es mi primer "trabajo" y 
                seguro que hay miles de cosas para mejorar. A medida que vaya ganando experiencia
                lo iré modificando hasta que quede super bonito y funcional!
                </li>
            </ul>
        </div>

    </div>
</div>