<div class="container-fluid">
    <div class="row" id="container">
        <div class="row" id="title">
            <h3>Educación</h3>
        </div>
        <div class="row" id="job">
            <ul> 
                <li><h5>Escuela secundaria Brigadier Mayor Juan I. San Martin</h5></li>
                Con especialización en Cs. Sociales y Humanidades.
                <li><h5>Argentina Programa</h5></li>
                Capacitación Full Stack Jr Web Developer.
            </ul>
        </div>

    </div>
</div>