<div class="container-fluid">
    <div class="row">
        <div id="topbox">
            <div>
                <img src="../../../assets/APLogo-20-20.png" style="width: 160px;">
            </div>
            <div id="social">
                <a href="https://www.instagram.com/agustinluca1/"><img src="../../../assets/instagram.png" id="insta"></a>
                <a href="https://www.linkedin.com/in/agustinluca1/"><img src="../../../assets/linkedin.png" id="linkedin"></a>
                <a href="https://github.com/agustinluca1"><img src="../../../assets/github.png" id="github"></a>
                <button type="button" class="btn btn-outline-line" (click)="login()">LOGIN</button>
            </div>            
        </div>
    </div>
    <div class="row">
        <div class="col-12 p-0" id="flagbox"></div>
        <div class="col-3 p-0" id="fotobox"></div>
    </div>
</div>
