<body>
    <div class="container-fluid">
        <div class="row">
            <app-header></app-header>
        </div>
        <div class="row">
            <app-about></app-about>
        </div>
        <hr>
        <div class="row">
            <app-experiencia></app-experiencia>
        </div>
        <div class="row">
            <app-educacion></app-educacion>
        </div>
        <div class="row">
            <app-soft></app-soft>
        </div>
        <div class="row">
            <app-proyectos></app-proyectos>
        </div>
        <div class="row">
            <app-footer></app-footer>
        </div>
    </div>
</body>
