<div class="container-fluid">
    <div class="row" id="container" >
        <div class="row" id="title">
            <h3>Habilidades Blandas</h3>
        </div>
        <div class="row">           
              <div class="col" style="margin: auto; max-width: max-content;">
                <div style="object-fit: contain;">
                  <ngx-charts-pie-grid
                                                            
                    [scheme]="colorScheme"
                    [results]="single"                    
                    [designatedTotal]="numeroTotal"
                    (select)="onSelect($event)">
                  </ngx-charts-pie-grid>
                </div>
              </div>          
        </div>
    </div>
</div>