<div class="container-fluid" style="margin-top: 50px; margin-bottom: 15px;">
    <div class="row">
        <div class="col-4" id="name"><h2>{{persona.nombre}} {{persona.apellido}}</h2></div>
        
        <div class="col">
            <h2 style="padding-left: 30px;">Desarrollador Web Full Stack Jr.</h2>          
            <ul>
                <li>En esta sección tendría que poner información profesional resumida (en un futuro xD).</li>
                <li>Recientemente finalice la capacitación de Argentina Programa, 
                    con la cual adquirí los conocimientos para realizar este portfolio web. 
                    Espero que lo disfruten tanto como yo cuando lo hice.
                </li>
            </ul>
        </div>
    </div>
</div>