<div class="container-fluid" style="margin-top: 50px; margin-bottom: 15px;">
    <div class="row">
        <div class="col-4" id="name"><h2>{{persona.nombre}} {{persona.apellido}}</h2></div>
        
        <div class="col">          
            <ul *ngFor="let About of about">
                <h2>{{About.nombreAb}}</h2>
                <li>{{About.descripcionAb}}
                    <button class="btn btn-outline-success" routerLink="/editab/{{About.id}}/" *ngIf="isLogged">
                        <i class="bi bi-pen"></i>
                    </button>
                </li>
            </ul>
        </div>
    </div>
</div>